{% load staticfiles %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>хочу в 6</title>
  <base href="/">
  <link href= "{% static '/resources/favicon.ico' %}" rel="shortcut Icon"/>
  <link rel="stylesheet" type="text/css" href="{% static '/css/app.css' %}">
  <SCRIPT>
   window.config={
     appName:'хочу в 6',
     locale:'ru',
     locales:{'ru':'Русский',
     'en':'english'},
     }
 </SCRIPT>
</head>
<body>
<div id="app"></div>
<script src="{% static '/js/app.js' %}"></script>
</body>
</html>